.simply-countdown {
  overflow: hidden;
  display: table;
  margin: auto;
}
.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--yellow);
  float: left;
  margin: 10px;
  border: 1px solid var(--pink);
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 50%;
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 1.6rem;
}
